.vierkant{
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

.rood{
  background-color: red;
}

.geel{
   background-color: yellow;
}

.blauw{
   background-color: blue;
}

.groen{
   background-color: green;
}
