* {
    font-family: verdana;
}

.pokemonkaart {
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    float: left;
}

.achtergrond-geel {
    background-color: rgba(255,255,0,0.5);
}

.achtergrond-groen {
    background-color: rgba(0,255,0,0.5); 
}

h1 {
    font-size: 24px;
    margin: 5px 0;
    text-align: center;
}

h4 {
    font-size: 14px;
    color: black;
    margin: 0 0 10px 0;
    text-align: center;
}

img {
    width: 215px;
    display: block;
    margin: 0 auto;
    align: center;
}

.type1 {
    font-weight: bold;
    color: black;
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
    margin: 10px auto;
}

p {
    text-align: center;
}
